{% extends 'admin/model/modals/edit.html' %}

{% block body %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% block header_text %}
        <h3>Edit {{ admin_view.name[:-1] + ' #' + request.args.get('id') }}</h3>
    {% endblock %}
  </div>
  <div class="modal-body">
    {# "save and continue" button is removed from modal (it won't function properly) #}
    {% block edit_form %}
      {{ lib.render_form(form, return_url, extra=None, form_opts=form_opts,
                         action=url_for('.edit_view', id=request.args.get('id'), url=return_url),
                         is_modal=True) }}
    {% endblock %}
  </div>
{% endblock %}