<!DOCTYPE html>
<html>
  <head>
      {% if session.get('title') %}
      <title>{{ session['title'] }}</title>
      {% endif %}
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='tables.min.css')}}"
    />
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='responsiveslides.min.js') }}"></script>
  </head>
  <body>
    <div class="home-header"></div>
    <section class="logo-row">
      <img
        src="{{url_for('static', filename='apollo.png')}}"
        class="portal-logo"
      />
    </section>
    <br />
    <div class="content-container">
      <div class="top-bar">
        <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
      </div>
      <section class="welcome">
        <br />
        <h2>Welcome</h2>
        <br />
        <p>
          Username: <b>{{ session["uname"] }}</b>
        </p>
        <p>
          IP Address: <b>{{ session["ip"] }}</b>
        </p>
      </section>
      <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
        {% if lang == 'tl' %}
            <th>Bucket</th>
            <th>Kabuuan</th>
            <th>Nagamit</th>
            <th>Nalalabi</th>
        {% else %}
            <th>Bucket</th>
            <th>Total</th>
            <th>Used</th>
            <th>Remaining</th>
        {% endif %}    
            
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ display_type }} Daily</td>
            <td>{{ daily_limit }}</td>
            <td>{{ daily_used }}</td>
            <td>{{ daily_remaining }}</td>
          </tr>
          <tr>
            <td>{{ display_type }} Monthly</td>
            <td>{{ monthly_limit }}</td>
            <td>{{ monthly_used }}</td>
            <td>{{ monthly_remaining }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <a href="{{ path }}">
        {% if lang == 'tl' %}
        <button class="enter-button portal-next">Susunod</button>
        {% else %}
        <button class="enter-button portal-next">Next</button>
        {% endif %}
        </a>
      <br /><br />
      {% if announcements %}
      <br /><br />
      <section>
        <ul class="rslides">
          {% for a in announcements %}
          <li><img src="{{ url_for('static', filename=a) }}" alt=""></li>
          {% endfor %}
        </ul>
      </section>
      <br /><br />
      {% endif %}
      <br /><br />
      <div class="copyright-footer">
        <p>Apollo Technologies, Inc. &copy <script type="text/javascript">document.write(new Date().getFullYear());</script> | <a href="https://rt.apolloglobal.net">Contact Us</a></p>
      </div>
      <br /><br />
    </div>
  </body>
  <script>
      $(function() {
        $(".rslides").responsiveSlides();
      });
    </script>
</html>
